body {
    min-width: 200px;
    min-height: 100px;
    padding: 10px;

    #color-container {
        text-align: center;
    }

    .color-swatch {
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        margin: 5px;
        cursor: pointer;
        width: 15px;
        height: 10px;
        border: 1px solid;
    }
}